.container {}

button{
    background-color:white;
    width:100%;
    padding: 4%;
    border: 2px solid black;
    margin: 10px auto;
    width:100%;
    display:inline;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.25);
    transition:1s;

    &:hover{
        background-color: black;
        color:white;
    }
}
