.container {
  //background-color: rgba(186, 169, 233, 0.781);
    background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(93,9,121,0.6844547563805105) 50%, rgba(2,0,255,0.7424593967517401) 100%);
    margin:-30px auto auto auto;
    padding:5%;
    width:100%;
}


h1{
    font-size:2em;
    height: 600;
    color:white;
}

